.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid transparent; /* Use transparent border to maintain the size */
    border-top-color: #007bff; /* Change color as needed */
    border-radius: 50%;
    animation: spin 0.8s infinite linear ;
  }
  
  @keyframes spin {
    0%{
        transform: rotate(12deg);
    }
    20%{
        transform: rotate(72deg);
    }
    35%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(210deg);
    }
    75%{
        transform: rotate(290deg);
    }
    100% {
      transform: rotate(360deg); 
    }
  }
  